name: Generate, Tag & Release

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    # Skip if message mentions 'chore(deps)'
    if: ${{ !startsWith(github.event.head_commit.message, 'chore(deps)') }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-tags: true
          fetch-depth: 0
          ssh-key: ${{ secrets.ACTION_KEY }}

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Update docs & licenses
        run: hack/update-docs.sh

  tag:
    runs-on: ubuntu-latest
    needs: docs
    # Run if docs succeeded OR were skipped, but stop if docs failed.
    if: ${{ !cancelled() && (needs.docs.result == 'success' || needs.docs.result == 'skipped') }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
          fetch-tags: true
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Tag
        run: hack/tag-release.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
